.box {
    width: 64px;
    height: 64px;
    border: 2px solid #3a3a3c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #121213;
    box-sizing: border-box;
    user-select: none;
  }
  