<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordle Box</title>

  <link rel="stylesheet" href="styles.css">
</head>
  <body>
    <div>
      <!-- div 1 -->
      <div class="wordle-row1">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
      </div>
      <!-- div 2 -->
      <div class="wordle-row2">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
      </div>
      <!-- div 3 -->
      <div class="wordle-row3">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
      </div>
      <!-- div 4 -->
      <div class="wordle-row4">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
      </div>
      <!-- div 5 -->
      <div class="wordle-row5">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
      </div>
      <!-- div 6 -->
      <div class="wordle-row6">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
      </div>
    </div>

    <div class="container-keyboard">
            <!-- rad 1 för bokstäver -->
      <div class="letters-row1">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
            <!-- rad 2 för bokstäver -->
      <div class="letters-row2">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
            <!-- rad 3 för bokstäver -->
      <div class="letters-row3">  
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
    </div>
  </div>
    <script src="script.js"></script>
  </body>
</html>